# Disable TUNNELING in development
TUNNEL=0

# Enable Development only features
NODE_ENV=development

# use this port (Optional)
PORT=2569

# Bore server for tunneling TCP (Optional)
BORE_SERVER=tunnel.mystic.cat

# Bore server password (Optional)
BORE_PASSWORD=
